*{
  margin: 0px;
  padding: 0px;
}
.text-center{
  text-align: center;
  margin: 1.2rem 0rem;
}
nav{
  width: 100%;
  display: flex;
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.308);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: space-around;
  padding:1.2rem 0rem ;
}
.author{
  font-size: larger;
  color: cadetblue;
  font-weight:bold;
}
.card small{
  width: 100%;
  text-align: end;
  color: gray;
  margin: 1.2rem;

}
.title{
  color: red;
  font-size: larger;
  
}
.wrapper{
  background-color: whitesmoke;
  min-height: 100vh;
}
.wrapper{
  padding: 2rem 0rem;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 1.2rem;
}
.card{
  display: flex;
  border: 2px solid black;
  min-height: 400px;
  justify-content: space-between;
  width: 300px;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 10px;
  background-color:white;
  border-radius: 22px;
  
}
.card img{
  height: 200px;
  width: 100%;
  border-radius: 12px;
}